body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.nav-item {
    font-size: 17px;
}

.head {
    background-color: #3c5375;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0px 0px 80px 80px;
}